* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  position: relative;
  overflow-y: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #f9e492;
  position: absolute;
  transform: rotate(-0.375turn);
  top: 70.8%;
  z-index: 10;
  left: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background-image: conic-gradient(#f9e492 75%, #191919 25%);
}

.triangle {
  width: 200px;
  height: 200px;
  background-color: #4f77ff;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  transform: rotate(45deg);
  bottom: -15%;
}
